* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
  /*height: auto;*/
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

#specialLi {
  list-style-type: circle;
}

.topContainer1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  top: 0px;
  width: 100%;
  padding: 5px;
  font-size: 30px;
  align-items: center;
}

.tCLeft {
  padding: 21px;
  padding-bottom: opx;
}

#imgimg {
  width: 92px;
  height: 30px;
}

.tCMiddle {
}

.searchb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: none;
  padding: 20px;
}

.searchb form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /*border: 1px solid rgb(206, 206, 206);*/
  border-radius: 20px;
  width: 690px;
  /* ??? suddenly, width in px works now ??? 
  contemplate upon min-width and resizing */
  height: 45px;
  resize: horizontal;
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
}

.searchb form input[type="text"] {
  overflow: hidden;
  width: 100%;
  border: none;
}

.searchb form:hover {
  box-shadow: 2px 2px 4px 4px rgba(128, 128, 128, 0.2);
}

.searchb button[type="submit"] {
  padding: 5px 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  border-left: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  background-color: inherit;
  height: 35px;
}

.searchb input[type="text"] {
  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  background-color: inherit;
  overflow: hidden;
  outline: none;
}

.metaTCR {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
}

.tCRight {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 15px;
}

.topContainer2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  top: 0px;
  width: 100%;
  padding: 5px;
  height: 45px;
  font-size: 30px;
  align-items: center;
  border: 2px solid black;
}

#icon1,
#icon2 {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#icon1:hover,
#icon2:hover {
  background-color: rgb(251, 240, 240);
}

.tC2SearchOptions {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 160px;
}

.tC2SettToo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 80px;
}

.topContainer3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  height: 43px;
  font-size: 30px;
  align-items: center;
  border: 2px solid green;
}

.nrOfResults {
  margin-left: 170px;
}

#nrResultsTxt {
  font-size: 15px;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: -175px;
  padding: 2px;
  min-height: 100%;
}

.searchRBox,
.searchRBox2,
.searchRBox3,
.searchRBox4,
.searchRBox5,
.searchRBox6,
.searchRBox7,
.searchRBox8,
.searchRBox9 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 652px;
  border: 2px solid black;
}

.searchRBox2 {
  border: 2px solid red;
}

.searchRBox3 {
  border: 2px solid green;
}

.searchRBox4 {
  border: 2px solid orange;
}

.searchRBox5 {
  border: 2px solid red;
}

.searchRBox6 {
  border: 2px solid blue;
}

.searchRBox7 {
  border: 2px solid black;
}

.searchRBox8 {
  border: 2px solid gray;
}

.searchRBox9 {
  border: 2px solid green;
}

.dropdownMC {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.dDHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 176px;
}

.dropbtn {
  display: flex;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  margin: 5px;
  width: 652px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-items: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 176px;
  width: 652px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 652px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.lineBreak {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width:750px;
  margin-left: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottomCenterSearchSugg {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width:750px;
  margin-left: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.searchbBottom {
  display: flex;
  flex-direction: row;
  justify-content: center
  border: none;
  padding: 7px;
}

.searchbBottom form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: 20px;
  width: 330px;
  height: 45px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgb(251, 240, 240);
}

.searchbBottom form input[type="text"] {
  overflow: hidden;
  width: 100%;
  border: none;
}

.searchbBottom button[type="submit"] {
  padding: 5px 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: rgb(251, 240, 240);
  height: 35px;
}

.searchbBottom input[type="text"] {
  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  font-size: 17px;
  background-color: rgb(251, 240, 240);
  overflow: hidden;
  outline: none;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: gray;
  width: 100%;
}

.bottomMoreSearchRes {
  display: flex;
  justify-content: flex-start;
  padding: 13px;
  padding-left: 30px;
  width: 100%;
  margin-left: 300px;
  font-size: 14px;
}

.fLeft {
  display: flex;
  justify-content: flex-start;
  padding: 13px;
  margin-left: 180px;
  font-size: 14px;
  background-color: rgb(251, 240, 240);
}

.fRight {
  display: flex;
  justify-content: flex-start;
  padding: 13px;
  font-size: 14px;
  background-color: rgb(251, 240, 240);
}

.bottomBottom {
  display: flex;
  justify-content: flex-start;
  padding: 13px;
  width: 100%;
  margin-left: 180px;
  font-size: 14px;
  background-color: rgb(251, 240, 240);
}

@media screen and (max-width: 650px) {
  .fLeft,
  .fRight {
    width: 100%;
    justify-content: center;
  }
}
